@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$white: #fff;
$black: #000;

$main-color: rgb(165, 103, 52);
$main-font-color: rgb(241, 218, 194);
// $main-font-color: rgb(184, 180, 175);
$main-best-color: #333333;
$secpndary-font-color: #FFD700;